<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form method="POST" action="/login">
      <fieldset>
        <legend>Enter your Information</legend>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" placeholder="Enter your username..." /><br /><br />
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" placeholder="Enter your password..." /><br /><br />
        <label>&nbsp;</label>
        <button type="submit">Login</button>
      </fieldset>
    </form>
  </body>
</html>
