<!DOCTYPE html>
<html>
  <head>
    <title>Create New Post</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form method="POST" action="/posts">
      <fieldset>
        <legend>New Post</legend>
        <label for="title">Title: </label>
        <input type="text" name="title" id="title" placeholder="Enter a title..." /><br />
        <label for="body">Body: </label>
        <textarea rows="5" cols="60" id="body" name="body" placeholder="Enter the body of the post here..."></textarea><br /><br />
        <label>&nbsp;</label>
        <button type="submit" class="wide">Submit Post</button><br />
      </fieldset>
    </form>
  </body>
</html>
