<!DOCTYPE html>
<html>
  <head>
    <title><%= post.title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= post.title %></h1>
    <p><%- post.body %></p>
    <a href="/posts">See all posts</a>
  </body>
</html>
